
<head>
<link rel="stylesheet" type="text/css" href="zealotcss.css">
</head>


P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}



P {text-align: center}

H1{text-align:center}

H2 {text-align: center}
